<div id="footerText">
  <p>PianoGraph - By Jeremy Penning</p>
</div>
<div id="footerLinks">
  <div class="footerLink">
    <img src="/img/octocat16_lt.png" alt="GitHub Octocat" />
    <p>GitHub</p>
  </div>
</div>