<div id="footerText">
  <p>PianoGraph - By Jeremy Penning</p>
</div>
<div id="footerLinks">
  <div class="footerLink">
    <i class="fab fa-github"></i>
    <p><a href="https://github.com/pixeljava/pianograph" target="_blank" rel="noopener noreferrer">GitHub</a></p>
  </div>
</div>