<div id="headerText">
  <h1 id="title"><%= title %></h1>
  <h2 id="description"><%= description %></h2>
</div>
<button id="navMenuButton">&equiv;</button>
</header>
<nav id="navMenu">
  <ul>
    <li class="center">View Scales</li>
    <li class="center">Add a Scale</li>
    <li class="center">About Us</li>
  </ul>
</nav>