<header>
  <div id="headerText">
    <h1 id="title"><%= app_title %></h1>
    <h2 id="description"><%= page_description %></h2>
  </div>
  <nav id="navMenu">
    <button id="navMenuButton">&equiv;</button>
    <div id="navMenuItems">
      <a class="center" alt="View Root Notes" href="/rootnotes/">View Root Notes</a>
      <a class="center" alt="Add Root Notes" href="/rootnotes/add/">Add Root Notes</a>
      <a class="center" alt="View Scales" href="/scales/">View Scales</a>
      <a class="center" alt="View Root Notes" href="/scales/add">Add a Scale</a>
      <a class="center" alt="View Root Notes" href="/about/">About PianoGraph</a>
    </div>
  </nav>
</header>