<div id="headerText">
  <h1 id="title"><%= app_title %></h1>
  <h2 id="description"><%= page_description %></h2>
</div>
<button id="navMenuButton">&equiv;</button>
</header>
<nav id="navMenu">
  <ul>
    <li><a class="center" alt="View Root Notes" href="/rootnotes/">View Root Notes</a></li>
    <li><a class="center" alt="Add Root Notes" href="/rootnotes/add/">Add Root Notes</a></li>
    <li><a class="center" alt="View Scales" href="/scales/">View Scales</a></li>
    <li><a class="center" alt="View Root Notes" href="/scales/add">Add a Scale</a></li>
    <li><a class="center" alt="View Root Notes" href="/about/">About PianoGraph</a></li>
  </ul>
</nav>