<div id="piano">
  <div class="keyHolder">
    <div id="key1" data-numposition="8388608" class="key white">
      <span class="keyLabel">C</span>
    </div>
    <div id="key2" data-numposition="4194304" class="key black">
      <span class="keyLabel">C&sharp;<br/>D&flat;</span>
    </div>
  </div>
  <div class="keyHolder">
    <div id="key3" data-numposition="2097152" class="key white">
      <span class="keyLabel">D</span>
    </div>
    <div id="key4" data-numposition="1048576" class="key black">
      <span class="keyLabel">D&sharp;<br/>E&flat;</span>
    </div>
  </div>
  <div class="keyHolder">
    <div id="key5" data-numposition="524288" class="key white">
      <span class="keyLabel">E</span>
    </div>
  </div>
  <div class="keyHolder">
    <div id="key6" data-numposition="262144" class="key white">
      <span class="keyLabel">F</span>
    </div>
    <div id="key7" data-numposition="131072" class="key black">
      <span class="keyLabel">F&sharp;<br/>G&flat;</span>
    </div>
  </div>
  <div class="keyHolder">
    <div id="key8" data-numposition="65536" class="key white">
      <span class="keyLabel">G</span>
    </div>
    <div id="key9" data-numposition="32768" class="key black">
      <span class="keyLabel">G&sharp;<br/>A&flat;</span>
    </div>
  </div>
  <div class="keyHolder">
    <div id="key10" data-numposition="16384" class="key white">
      <span class="keyLabel">A</span>
    </div>
    <div id="key11" data-numposition="8192" class="key black">
      <span class="keyLabel">A&sharp;<br/>B&flat;</span>
    </div>
  </div>
  <div class="keyHolder">
    <div id="key12" data-numposition="4096" class="key white">
      <span class="keyLabel">B</span></div>
  </div>
  <div class="keyHolder">
    <div id="key13" data-numposition="2048" class="key white">
      <span class="keyLabel">C</span></div>
    <div id="key14" data-numposition="1024" class="key black">
      <span class="keyLabel">C&sharp;<br/>D&flat;</span>
    </div>
  </div>
  <div class="keyHolder">
    <div id="key15" data-numposition="512" class="key white">
      <span class="keyLabel">D</span>
    </div>
    <div id="key16" data-numposition="256" class="key black">
      <span class="keyLabel">D&sharp;<br/>E&flat;</span>
    </div>
  </div>
  <div class="keyHolder">
    <div id="key17" data-numposition="128" class="key white">
      <span class="keyLabel">E</span>
    </div>
  </div>
  <div class="keyHolder">
    <div id="key18" data-numposition="64" class="key white">
      <span class="keyLabel">F</span>
    </div>
    <div id="key19" data-numposition="32" class="key black">
      <span class="keyLabel">F&sharp;<br/>G&flat;</span>
    </div>
  </div>
  <div class="keyHolder">
    <div id="key20" data-numposition="16" class="key white">
      <span class="keyLabel">G</span>
    </div>
    <div id="key21" data-numposition="8" class="key black">
      <span class="keyLabel">G&sharp;<br/>A&flat;</span>
    </div>
  </div>
  <div class="keyHolder">
    <div id="key22" data-numposition="4" class="key white">
      <span class="keyLabel">A</span>
    </div>
    <div id="key23" data-numposition="2" class="key black">
      <span class="keyLabel">A&sharp;<br/>B&flat;</span>
    </div>
  </div>
  <div class="keyHolder">
    <div id="key24" data-numposition="1" class="key white">
      <span class="keyLabel">B</span>
    </div>
  </div>
</div>