<!DOCTYPE html>
<html>
  <%- include('./partials/page.head.ejs') %>
  <body>
    <%- include('./partials/header.ejs') %>
    <section class="contentBox">
      <div class="boxHead">
        <p class="boxTitle">PianoGraph is made by:</p>
      </div>
      <section class="boxContent">
        <p>I exist.</p>
      </section>
    </section>
    <footer>
      <%- include('./partials/footer.ejs') %>
    </footer>
  </body>
</html>