<!DOCTYPE html>
<html>
  <%- include('./partials/page.head.ejs') %>
  <body>
    <%- include('./partials/header.ejs') %>
    <section class="contentBox">
      <%- include('./partials/piano.ejs') %>
    </section>
    <section class="contentBox">
      <div class="boxHead">
        <p class="boxTitle">Add a Scale</p>
        <br style="clear: both;" />
      </div>
      <section class="pageHelp">
        <button class="closeHelp" title="Close Help"><i class="fas fa-window-close"></i></button>
        <p><strong>Note:</strong> Click a note on the left half of the piano to set the scale's root note. Then add the rest of the notes in the scale and click "Save".
        To pick a new root note (or clear your work) click the 'Reset' button.</p>
      </section>
      <section class="boxContent">
        <div class="noteHolder">
          <section class="formHolder">
            <div class="errorMessages"></div>
            <div class="addForm">
              <form>
                <input type="hidden" id="formRootnoteId" name="rootnoteId" value="${scaleData.rootnoteId}">
                <div class="formInput">
                  <label for="title">Scale Name:</label>
                  <input type="text" placeholder="Enter Scale name..." name="title" maxlength="50" required>
                </div>
                <br />
                <div class="formInput">
                  <label for="binposition">Binary Representation:</label>
                  <input type="text" id="formBinposition" placeholder="Enter binary..." name="binposition" maxlength="24" required>
                </div>
                <br />
                <div class="formInput">
                  <label for="numposition">Numerical Representation:</label>
                  <input type="text" id="formNumposition" placeholder="Enter number..." name="numposition" maxlength="7" required>
                </div>
                <br />
                <div class="formInput">
                  <label for="wikiurl">Wikipedia Link:</label>
                  <input type="text" placeholder="Enter URL..." name="wikiurl" maxlength="100">
                </div>
                <br />
                <div class="formInput">
                  <label for="wikipageid">Wikipedia Page Id:</label>
                  <input type="text" placeholder="Enter Wikipedia page id..." name="wikipageid" maxlength="10">
                </div>
                <br />
              </form>
            </div>
          </section>
          <div class="bottomButtons">
            <button class="saveButton" id="saveNote" type="button">
              <i class="far fa-save"></i> Save
            </button>
            <button class="resetButton" id="resetNote" type="button">
              <i class="far fa-trash-alt"></i> Reset
            </button>
            <div class="right">
              <button class="wikiButton" id="getWikiPageId" title="Get Wikipedia Page Id" type="button">
                <i class="fab fa-wikipedia-w"></i> Get Wiki Page Id
              </button>
            </div>
          </div>
        </div>
      </section>
    </section>
    <footer>
      <%- include('./partials/footer.ejs') %>
    </footer>
    <script src="/js/add_scales.js" type="text/javascript"></script>
  </body>
</html>