<!DOCTYPE html>
<html>
  <%- include('./partials/page.head.ejs') %>
  <body>
    <%- include('./partials/header.ejs') %>
    <section class="contentBox">
      <%- include('./partials/piano.ejs') %>
    </section>
    <section class="contentBox">
      <div class="boxHead">
        <p class="boxTitle">Enter Scale Info and Click "Save"</p>
      </div>
      <section class="boxContent">
        <form>
          <div class="formInput">
            <label for="binposition">Binary Representation:</label>
            <input type="text" id="binposition" placeholder="Enter binary" name="binposition">
          </div>
          <br />
          <div class="formInput">
            <label for="binposition">Binary Representation:</label>
            <input type="text" id="binposition" placeholder="Enter binary" name="binposition">
          </div>
          <br />
          <div class="formInput">
            <label for="binposition">Binary Representation:</label>
            <input type="text" id="binposition" placeholder="Enter binary" name="binposition">
          </div>
          <br />
          <div class="formInput">
            <label for="binposition">Binary Representation:</label>
            <input type="text" id="binposition" placeholder="Enter binary" name="binposition">
          </div>
          <br />
          <button>Save</button>
        </form>
        </div>
      </section>
    </section>
    <footer>
      <%- include('./partials/footer.ejs') %>
    </footer>
  </body>
</html>