<!DOCTYPE html>
<html>
  <head>
    <title>PianoGraph</title>
    <link rel="stylesheet" href="/css/base.css"/>
    <link rel="stylesheet" href="/css/layout.css">
    <link rel="stylesheet" href="/css/modules.css">
    <link rel="stylesheet" href="/css/state.css">
  </head>
  <body>
    <header>
      <h1 id="title">PianoGraph</h1>
      <h2 id="description">Add a Scale</h2>
    </header>
    <section>
      <div id="piano">
        <div class="keyHolder">
          <div id="key1" class="key white"><span class="keyLabel">C</span></div>
          <div id="key2" class="key black"><span class="keyLabel">C&sharp;<br/>D&flat;</span></div>
        </div>
        <div class="keyHolder">
          <div id="key3" class="key white"><span class="keyLabel">D</span></div>
          <div id="key4" class="key black"><span class="keyLabel">D&sharp;<br/>E&flat;</span></div>
        </div>
        <div class="keyHolder">
          <div id="key5" class="key white"><span class="keyLabel">E</span></div>
        </div>
        <div class="keyHolder">
          <div id="key6" class="key white"><span class="keyLabel">F</span></div>
          <div id="key7" class="key black"><span class="keyLabel">F&sharp;<br/>G&flat;</span></div>
        </div>
        <div class="keyHolder">
          <div id="key8" class="key white"><span class="keyLabel">G</span></div>
          <div id="key9" class="key black"><span class="keyLabel">G&sharp;<br/>A&flat;</span></div>
        </div>
        <div class="keyHolder">
          <div id="key10" class="key white"><span class="keyLabel">A</span></div>
          <div id="key11" class="key black"><span class="keyLabel">A&sharp;<br/>B&flat;</span></div>
        </div>
        <div class="keyHolder">
          <div id="key12" class="key white"><span class="keyLabel">B</span></div>
        </div>
        <div class="keyHolder">
          <div id="key13" class="key white"><span class="keyLabel">C</span></div>
          <div id="key14" class="key black"><span class="keyLabel">C&sharp;<br/>D&flat;</span></div>
        </div>
        <div class="keyHolder">
          <div id="key15" class="key white"><span class="keyLabel">D</span></div>
          <div id="key16" class="key black"><span class="keyLabel">D&sharp;<br/>E&flat;</span></div>
        </div>
        <div class="keyHolder">
          <div id="key17" class="key white"><span class="keyLabel">E</span></div>
        </div>
        <div class="keyHolder">
          <div id="key18" class="key white"><span class="keyLabel">F</span></div>
          <div id="key19" class="key black"><span class="keyLabel">F&sharp;<br/>G&flat;</span></div>
        </div>
        <div class="keyHolder">
          <div id="key20" class="key white"><span class="keyLabel">G</span></div>
          <div id="key21" class="key black"><span class="keyLabel">G&sharp;<br/>A&flat;</span></div>
        </div>
        <div class="keyHolder">
          <div id="key22" class="key white"><span class="keyLabel">A</span></div>
          <div id="key23" class="key black"><span class="keyLabel">A&sharp;<br/>B&flat;</span></div>
        </div>
        <div class="keyHolder">
          <div id="key24" class="key white"><span class="keyLabel">B</span></div>
        </div>
      </div>
    </section>
  </body>
</html>