<!DOCTYPE html>
<html>
  <%- include('./partials/page.head.ejs') %>
  <body>
    <header>
      <%- include('./partials/header.ejs') %>
    </header>
    <section class="contentBox">
      <%- include('./partials/piano.ejs') %>
    </section>
    <section class="contentBox">
      <div class="boxHead">
        <p class="boxTitle">View all Root Notes</p>
      </div>
      <section class="boxContent">
        <pre></pre>
      </section>
    </section>
    <footer>
      <%- include('./partials/footer.ejs') %>
    </footer>
    <script src="/js/rootnote.js" type="text/javascript"></script>
  </body>
</html>