<!DOCTYPE html>
<html>
  <%- include('./partials/page.head.ejs') %>
  <body>
    <%- include('./partials/header.ejs') %>
    <section class="contentBox">
      <%- include('./partials/piano.ejs') %>
    </section>
    <section class="contentBox">
      <div class="boxHead">
        <p class="boxTitle">Click a note above to see the related scales.</p>
      </div>
      <section class="boxContent">
        <p>Loading Scales...</p>
      </section>
    </section>
    <footer>
      <%- include('./partials/footer.ejs') %>
    </footer>
  </body>
</html>