/* PianoGraph's Font Faces */
/* All fonts are open source, with documentation in the fonts folder. */

@font-face {
  font-family: 'LeagueSpartanBold';
  src: url('../font/league-spartan/LeagueSpartan-Bold.woff2') format('woff2'),
       url('../font/league-spartan/LeagueSpartan-Bold.woff') format('woff'),
       url('../font/league-spartan/LeagueSpartan-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'LeagueSpartanMedium';
  src: url('../font/league-spartan/LeagueSpartan-Medium.woff2') format('woff2'),
       url('../font/league-spartan/LeagueSpartan-Medium.woff') format('woff'),
       url('../font/league-spartan/LeagueSpartan-Medium.ttf') format('truetype');
}
@font-face {
  font-family: 'LeagueSpartanLight';
  src: url('../font/league-spartan/LeagueSpartan-Light.woff2') format('woff2'),
       url('../font/league-spartan/LeagueSpartan-Light.woff') format('woff'),
       url('../font/league-spartan/LeagueSpartan-Light.ttf') format('truetype');
}

* {
  box-sizing:border-box;
}

html {
  scrollbar-width: none;
  /* min-width: 435px !important;
  max-width: 960px !important; */
  display: block;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: rgba(0, 0, 0, 0.3) rgba(255, 255, 240, 0.3);
}
/* Works on Chrome/Edge/Safari */
html::-webkit-scrollbar {
  width: 8px;
}
html::-webkit-scrollbar-track {
  background: rgba(255, 255, 240, .3);
}
html::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, .3);
  border-radius: 2px;
  border: 1px solid rgba(0, 0, 0, .3);
}

body {
  background-color: rgb(32, 138, 232);
  font-family: LeagueSpartanLight, sans-serif;
  font-size: 100%;
  margin: 0;
  padding: 0;
}

/*
    Button Reset from Chris Coyier - Adapted
    https://css-tricks.com/overriding-default-button-styles/
*/
button {
  display: inline-block;
  border: none;
  padding: 0;
  margin: 0;
  text-decoration: none;
  background: white;
  color: black;
  font-family: sans-serif;
  font-size: 1rem;
  cursor: pointer;
  text-align: center;
  transition: background 250ms ease-in-out, 
              transform 150ms ease;
  -webkit-appearance: none;
  -moz-appearance: none;
}

/* General Text Styles */
strong {
  font-family: 'LeagueSpartanMedium', sans-serif;
  font-weight: bold;
}
strong.really {
  font-family: 'LeagueSpartanBold', sans-serif;
  font-weight: bold;
}

.left {
  float: left;
}

.right {
  float: right;
}

/* IE Browser Rejection/Redirection */
div.ieDetected {
  margin: 0 auto;
  padding: 20px;
  font-size: 18px;
  font-family: 'LeagueSpartanBold', sans-serif;
  font-weight: bold;
}
div.ieDetected p {
  display: block;
}