/* PianoGraph's Font Faces */
/* All fonts are open source, with documentation in the fonts folder. */

@font-face {
  font-family: 'LeagueSpartanBold';
  src: url('../font/WOFF2/LeagueSpartan-Bold.woff2') format('woff2'),
       url('../font/WOFF/LeagueSpartan-Bold.woff') format('woff'),
       url('../font/TTF/LeagueSpartan-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'LeagueSpartanMedium';
  src: url('../font/WOFF2/LeagueSpartan-Medium.woff2') format('woff2'),
       url('../font/WOFF/LeagueSpartan-Medium.woff') format('woff'),
       url('../font/TTF/LeagueSpartan-Medium.ttf') format('truetype');
}
@font-face {
  font-family: 'LeagueSpartanLight';
  src: url('../font/WOFF2/LeagueSpartan-Light.woff2') format('woff2'),
       url('../font/WOFF/LeagueSpartan-Light.woff') format('woff'),
       url('../font/TTF/LeagueSpartan-Light.ttf') format('truetype');
}

* {
  box-sizing:border-box;
}

html {
  scrollbar-width: none;
  /* min-width: 435px !important;
  max-width: 960px !important; */
  display: block;
}

body {
  background-color: rgb(32, 132, 232);
  font-family: LeagueSpartanLight, san-serif;
  margin: 0;
  padding: 0;
}

/*
    Button Reset from Chris Coyier
    https://css-tricks.com/overriding-default-button-styles/
*/
button {
  display: inline-block;
  border: none;
  padding: 0;
  margin: 0;
  text-decoration: none;
  background: white;
  color: black;
  font-family: sans-serif;
  font-size: 1rem;
  cursor: pointer;
  text-align: center;
  transition: background 250ms ease-in-out, 
              transform 150ms ease;
  -webkit-appearance: none;
  -moz-appearance: none;
}