/*/////////////////
/ Header and Logo /
/////////////////*/

header {
  width: 100%;
  height: min(14.4vmin, 70px);
  min-width: 380px;
  background-color: rgb(0, 0, 0, .13);
  border-bottom: 1px solid rgba(0, 0, 0, .13);
  cursor: default;
  z-index: 999;
}

header #headerText {
  padding: min(2.4vmin, 9px) min(4vmin, 30px);
  float: left;
  min-width: 326px;
  position: relative;
}

header #headerText #title {
  font-family: LeagueSpartanBold, sans-serif;
  font-size: min(9.6vmin, 48px);
  letter-spacing: -.05em;
  text-align: left;
  display: inline;
  position: relative;
}

header #headerText #description {
  font-family: LeagueSpartanMedium, sans-serif;
  font-size: min(4.8vmin, 24px);
  text-align: right;
  white-space: nowrap;
  color: ivory;
  display: inline;
  left: min(48vmin, 250px);
  top: min(8.25vmin, 38px);
  position: absolute;
}

@media (max-width: 380px), (max-height: 380px) {
  header {
    width: 100%;
    height: 54px;
    max-height: 140px;
  }
  header #headerText {
    padding: 9px 15px;
    min-width: 326px;
  }
  header #headerText #title {
    font-size: max(9.6vmin, 36px);
  }
  header #headerText #description {
    font-size: 18px;
    left: 180px;
    top: 31px;

  }
}

/*//////////
/ Nav Menu /
//////////*/

#navMenu {
  position: relative;
}

/* Nav Button */

#navMenuButton {
  position: absolute;
  top: 0px;
  right: 0px;
  outline: none;
  outline-offset: none;
  height: min(14.4vmin, 70px);
  min-height: 54px;
  width: min(14.4vmin, 70px);
  min-width: 54px;
  float: right;
  background-color: rgb(0, 0, 0, .20);
  color: ivory;
  font-size: min(12.8vmin, 54px);
}

#navMenuButton:hover,
#navMenuButton:focus,
#navMenuButton.open:hover,
#navMenuButton.open:focus {
  outline: 1px solid #fff;
  outline-offset: max(-2.5vmin, -16px);
}

#navMenuButton:active,
#navMenuButton.open {
  outline: none;
  box-shadow:
    /* X Y Blur Color */
    inset 0 0 min(1.5vmin, 11px) rgba(0, 0, 0, 0.75),
    inset 0 0 min(3vmin, 22px) rgb(0, 0, 0, .9);
}

/* Nav Menu */

#navMenuItems {
  display: none;
  position: absolute;
  width: min(30vw, 500px);
  min-width: 380px;
  right: 0px;
  top: min(14.4vmin, 70px);
  max-width: 480px;
  background-color: rgb(0, 0, 0, .92);
  font-family: LeagueSpartanBold, sans-serif;
  font-size: min(3.2vw, 24px);
  color: white;
  border-top: 1px solid rgb(36, 36, 36);
  box-shadow: /* X Y Blur Color */
    min(-.1vw, -0.64px) min(1vw, 6.4px) min(1vw, 6.4px) rgba(0, 0, 0, 0.8);
  z-index: 999;
}

#navMenuItems a {
  display: block;
  text-align: center;
  padding: min(4.8vmin, 18px) min(4.8vmin, 18px);
  text-decoration: none;
  color: ivory;
  border-bottom: 1px solid rgb(36, 36, 36);
  border-left: 1px solid rgb(36, 36, 36);
  box-shadow: /* X Y Blur Color */
    inset 0 0 min(1.2vw, 9px) rgba(255, 255, 240, 0.5),
    inset 0 0 min(.168vw, 1.26px) rgb(0, 0, 0);
}

#navMenuItems a:hover {
  box-shadow:
    /* X Y Blur Color */
    inset 0 0 min(2.4vw, 18px) rgba(255, 255, 240, 0.8),
    inset 0 0 min(.168vw, 1.26px) rgb(0, 0, 0);
}

@media (max-width: 380px), (max-height: 380px) {
  #navMenuButton {
    height: 54px;
    width: 54px;
    font-size: 48px;
  }
  #navMenuButton:hover,
  #navMenuButton:focus,
  #navMenuButton.open:hover,
  #navMenuButton.open:focus {
    outline-offset: -10px;
  }
  #navMenuButton:active,
  #navMenuButton.open {
    box-shadow:
      /* X Y Blur Color */
      inset 0 0 1.5vmin rgba(0, 0, 0, 0.75),
      inset 0 0 3vmin rgb(0, 0, 0, .9);
  }
  #navMenuItems {
    top: 54px;
    font-size: 12px;
    width: 380px;
    box-shadow: /* X Y Blur Color */
      -0.32px 3.2px 3.2px rgba(0, 0, 0, 0.8);
  }
  #navMenuItems a {
    padding: 18px 18px;
    text-decoration: none;
    box-shadow: /* X Y Blur Color */
      inset 0 0 4.5px rgba(255, 255, 240, 0.5),
      inset 0 0 .63px rgb(0, 0, 0);
  }
  #navMenuItems a:hover {
    box-shadow:
      /* X Y Blur Color */
      inset 0 0 9px rgba(255, 255, 240, 0.8),
      inset 0 0 .63px rgb(0, 0, 0);
  }
}

/*///////////////
/ Footer Styles /
///////////////*/

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: min(5.6vmin, 30px);
  min-width: 380px;
  background-color: rgba(0, 0, 0, 0.85);
  font-size: min(2.4vmin, 12.5px);
  color: rgba(255, 255, 240, .90);
  font-family: LeagueSpartanBold, sans-serif;
}

footer #footerText {
  float: left;
  padding: min(1.7vmin, 9px);
}

footer #footerLinks {
  float: right;
  white-space: nowrap;
}

footer #footerLinks .footerLink {
  float: left;
  line-height: min(5.8vmin, 33px);
}

footer #footerLinks .footerLink i {
  font-size: min(3.8vmin, 21.38px);
  padding-top: min(.8vmin, 4.5px);
  padding-right: min(1.1vmin, 12px);
  float: left;
}

footer #footerLinks .footerLink a {
  float: left;
  display: block;
  padding-right: min(.7vmin, 8px);
  padding-left: min(.35vmin, 4px);
}

footer #footerLinks .footerLink a,
footer #footerLinks .footerLink a:visited {
  text-decoration: none;
  color: ivory;
}

footer #footerLinks .footerLink a:active,
footer #footerLinks .footerLink a:hover {
  text-decoration: underline;
  color: ivory;
}

@media (max-width: 380px), (max-height: 380px) {
  footer {
    height: 20px;
    font-size: 9px;
  }
  footer #footerText {
    padding: 6px;
  }
  footer #footerLinks .footerLink {
    line-height: 22px;
  }
  footer #footerLinks .footerLink i {
    font-size: 14.25px;
    padding-top: 3px;
    padding-right: 6px;
  }
  footer #footerLinks .footerLink a {
    padding-right: 8px;
    padding-left: 4px;
  }
}