body > section {
  margin: 1vw 1vw;
}

header {
  font-family: LeagueSpartanBold, sans-serif;
  width: 100vw;
  height: 7vh;
  background-color: rgb(0, 0, 0, .10);
  cursor: default;
  z-index: 999;
}

header #headerText {
  padding: .5vh 1vh;
  float: left;
  position: relative;
  width: 63vw;
}
header #headerText #title {
  font-size: 6.5vh;
  letter-spacing: -.05em;
  text-align: left;
  display: inline;
  position: relative;
}
header #headerText #description {
  font-family: LeagueSpartanMedium, sans-serif;
  font-size: 3vh;
  text-align: right;
  white-space: nowrap;
  color: ivory;
  display: inline;
  left: 31vh;
  top: 4vh;
  position: absolute;
}

header #navMenuButton {
  outline: none;
  outline-offset: none;
  height: 7vh;
  width: 7vh;
  float: right;
  background-color: rgb(0, 0, 0, .20);
  color: ivory;
  font-size: 5vh;
}
header #navMenuButton:hover,
header #navMenuButton:focus,
header #navMenuButton.open:hover,
header #navMenuButton.open:focus {
  outline: 1px solid #fff;
  outline-offset: -.75vmin;
}
header #navMenuButton:active,
header #navMenuButton.open {
  outline: none;
  outline-offset: none;
  box-shadow: /* X Y Blur Color */
  inset 0 0 .25vmin rgba(0, 0, 0, 0.75),
  inset 0 0 .75vmin rgb(0, 0, 0, .9);
}


nav#navMenu {
  display: none;
  font-family: LeagueSpartanBold, sans-serif;
  position: absolute;
  top: 7vh;
  right: 0;
  width: 100%;
  min-width: 200px;
  max-width: 400px;
  background-color: rgb(0, 0, 0, .92);
  z-index: 999;
}
nav#navMenu ul {
  position: relative;
  width: 100%;
  color: white;
  border-top: 1px solid rgb(36, 36, 36);
  box-shadow: /* X Y Blur Color */
    -.1vmin 1vmin 1vmin rgba(0, 0, 0, 0.8);
}
nav#navMenu ul li {
  position: relative;
  height: 10vh;
  padding-top: 4vh;
  text-align: center;
  color: white;
  border-bottom: 1px solid rgb(36, 36, 36);
  border-left: 1px solid rgb(36, 36, 36);
  box-shadow: /* X Y Blur Color */
    inset 0 0 .25vmin rgba(255, 255, 255, 0.5),
    inset 0 0 .5vmin rgb(0, 0, 0);
}

@media (min-width: 800px) {
  .form-input input {
    height: 2vh;
    margin: 1vh 0;
  }
  .form-inline {
    flex-direction: column;
    align-items: stretch;
  }
}
