/*//////////////*/
/* Piano Module */
/*//////////////*/

#piano {
  clear: both;
  height: 20vw;
  min-height: 76px;
  box-shadow: /* X Y Blur Color */
  /* General Piano Drop Shadow */
  0 max(.5vmin, 1.88px) max(.5vmin, 1.88px) rgba(0, 0, 0, .8);
}

#piano .keyHolder {
  width: calc(100% / 14);
  position: relative;
  float: left;
}

#piano .key {
  font-family: LeagueSpartanBold, sans-serif;
  font-size: max(2.5vw, 9.5px);
  text-align: center;
  border: 1px solid rgba(0, 0, 0, .85);
}
#piano .key .keyLabel {
  position: absolute;
  bottom: max(1vmin, 3.75px);
  text-align: center;
  cursor: default;
}
#piano .key.white .keyLabel {
  left: 40%;
}
#piano .key.black .keyLabel {
  left: 30%;
}
#piano .key.white {
  height: max(20vw, 75px);
  position: relative;
  background-color: ivory; /* This felt sooooo right... */
  color: black;
  z-index: 1;
  box-shadow: /* X Y Blur Color */
    /* Harsh Bottom Shadow */
    inset 0 max(-.1vmin, -.375px) max(.2vmin, .75px) rgba(0, 0, 0, 0.95),
    /* General Shadow */
    inset 0 max(-.35vmin, -.13125px) max(1vmin, 1.125px) rgba(0, 0, 0, 0.95),
    /* Border Shadow */
    inset 0 0 max(.1vmin, .375px) rgba(0, 0, 0),
    /* Outer Shadow */
    0 0 max(1vmin, 3.75px) rgba(0, 0, 0, .5);
}
#piano .key.white:hover {
  z-index: 0;
  box-shadow: /* X Y Blur Color */
    /* General Shadow */
    inset 0 max(-.1vmin, -.375px) max(.5vmin, 1.88px) rgba(0, 0, 0, 0.95),
    /* General Shadow */
    inset 0 max(-.25vmin, -.9375px) max(2vmin, 7.5px) rgba(0, 0, 0, 0.95),
    /* Border Shadow */
    inset 0 0 max(.1vmin, .375px) rgba(0, 0, 0),
    /* Outer Shadow */
    0 0 max(1vmin, 3.75px) rgba(0, 0, 0, .5);                 
}
#piano .key.black {
  position: absolute;
  top: 0;
  left: 100%;
  height: max(10vw, 37.5px);
  width: max(6vw, 22.5px);
  background-color: rgb(16, 16, 16);
  color:ivory;
  transform: translateX(-50%);
  z-index: 3;
  box-shadow: /* X Y Blur Color */
    /* White Key Reflection */
    inset 0 max(-.5vmin, -1.88px) max(.8vmin, 3px) rgba(255, 255, 240, 0.5),
    /* White Key Reflection */
    inset 0 max(-.2vmin, -.75px) max(.4vmin, 1.5px) rgba(255, 255, 240, 0.2),
    /* Border Shadow */
    inset 0 0 max(.2vmin, 0.75px) rgba(0, 0, 0),
    /* Outer Key Drop Shadow (Harsher) */
    0 max(.6vmin, 2.25px) max(.3vmin, 1.125px) rgba(0, 0, 0, .9),
    /* Outer Key Drop Shadow (Softer) */
    0 max(.8vmin, 3px) max(.4vmin, 1.5px) rgba(0, 0, 0, .8),
    /* Outer Shadow (Match White) */
    0 0 max(1vmin, 3.75px) rgba(0, 0, 0, .5);
}
#piano .key.black:hover {
background-color: black; 
z-index: 2;
box-shadow: /* X Y Blur Color */
  /* White Key Reflection */
  inset 0 max(-.35vmin, -1.3125px) max(1vmin, 3.75px) rgba(255, 255, 240, 0.35),
  /* White Key Reflection */ 
  inset 0 max(-.75vmin, -2.8125px) max(1.5vmin, 5.625px) rgba(17, 17, 17, 0.4),
  /* Border Shadow */
  inset 0 0 max(.2vmin, 0.75px) rgba(0, 0, 0),
  /* Outer Shadow (Pressed Down)*/
  0 max(.4vmin, 1.5px) max(.2vmin, .75px) rgba(0, 0, 0, .9),
  /* Outer Shadow (Pressed Down)*/
  0 max(.6vmin, 2.25px) max(.3vmin, 1.125px) rgba(0, 0, 0, .7),
  /* Outer Shadow (Match White) */
  0 0 max(1vmin, 3.75px) rgba(0, 0, 0, .5);
}
