/*//////////////*/
/* Piano Module */
/*//////////////*/

#piano {
  clear: both;
  height: min(20vw, 210px);
  min-width: 350px;
  box-shadow: /* X Y Blur Color */
    /* General Piano Drop Shadow */
    0 min(.5vmin, 7.2px) min(.5vmin, 7.2px) rgba(0, 0, 0, .8);
}

#piano .keyHolder {
  width: min(calc(100% / 14), 70px);
  height: 100%;
  position: relative;
  float: left;
}

#piano .key {
  font-family: LeagueSpartanBold, sans-serif;
  font-size: min(3.25vw, 32px);
  text-align: center;
  border: 1px solid rgba(0, 0, 0, .85);
}
#piano .key .keyLabel {
  position: absolute;
  bottom: 2%;
  width: 100%;
  display: block;
  text-align: center;
  cursor: default;
}
#piano .key .keyLabel .scaleRoot {
  display: block;
  padding-bottom: min(.32vw, 2.8px);
}
#piano .key.white {
  height: 100%;
  position: relative;
  background-color: ivory; /* This just felt sooooo right... */
  color: black;
  z-index: 1;
  box-shadow: /* X Y Blur Color */
    /* Harsh Bottom Shadow */
    inset 0 max(-.1vmin, -1.05px) min(.2vmin, 2.1px) rgba(0, 0, 0, 0.95),
    /* General Shadow */
    inset 0 max(-.35vmin, -.13125px) min(1vmin, 3.15px) rgba(0, 0, 0, 0.95),
    /* Border Shadow */
    inset 0 0 min(.1vmin, 1.05px) rgba(0, 0, 0),
    /* Outer Shadow */
    0 0 min(1vmin, 10.5px) rgba(0, 0, 0, .5);
}
#piano .key.white:hover,
#piano .key.white.down {
  z-index: 0;
  box-shadow: /* X Y Blur Color */
    /* General Shadow */
    inset 0 max(-.1vmin, -1.05px) min(.5vmin, 5.264px) rgba(0, 0, 0, 0.95),
    /* General Shadow */
    inset 0 max(-.25vmin, -2.625px) min(2vmin, 21px) rgba(0, 0, 0, 0.95),
    /* Border Shadow */
    inset 0 0 min(.1vmin, 1.05px) rgba(0, 0, 0),
    /* Outer Shadow */
    0 0 min(1vmin, 10.5px) rgba(0, 0, 0, .5);                 
}
#piano .key.black {
  position: absolute;
  top: 0;
  left: 100%;
  height: 55%;
  width: 85%;
  background-color: rgb(16, 16, 16);
  color:ivory;
  transform: translateX(-50%);
  z-index: 3;
  box-shadow: /* X Y Blur Color */
    /* White Key Reflection */
    inset 0 max(-.5vmin, -5.264px) min(.8vmin, 8.4px) rgba(255, 255, 240, 0.5),
    /* White Key Reflection */
    inset 0 max(-.2vmin, -2.1px) min(.4vmin, 4.2px) rgba(255, 255, 240, 0.2),
    /* Border Shadow */
    inset 0 0 min(.2vmin, 2.1px) rgba(0, 0, 0),
    /* Outer Key Drop Shadow (Harsher) */
    0 min(.6vmin, 6.3px) min(.3vmin, 3.15px) rgba(0, 0, 0, .9),
    /* Outer Key Drop Shadow (Softer) */
    0 min(.8vmin, 8.4px) min(.4vmin, 4.2px) rgba(0, 0, 0, .8),
    /* Outer Shadow (Match White) */
    0 0 min(1vmin, 10.5px) rgba(0, 0, 0, .5);
}
#piano .key.black:hover,
#piano .key.black.down {
  background-color: black; 
  z-index: 2;
  box-shadow: /* X Y Blur Color */
    /* White Key Reflection */
    inset 0 max(-.35vmin, -3.675px) min(1vmin, 10.5px) rgba(255, 255, 240, 0.35),
    /* White Key Reflection */ 
    inset 0 max(-.75vmin, -7.875px) min(1.5vmin, 15.75px) rgba(17, 17, 17, 0.4),
    /* Border Shadow */
    inset 0 0 min(.2vmin, 2.1px) rgba(0, 0, 0),
    /* Outer Shadow (Pressed Down)*/
    0 min(.4vmin, 4.2px) min(.2vmin, 2.1px) rgba(0, 0, 0, .9),
    /* Outer Shadow (Pressed Down)*/
    0 min(.6vmin, 6.3px) min(.3vmin, 3.15px) rgba(0, 0, 0, .7),
    /* Outer Shadow (Match White) */
    0 0 min(1vmin, 10.5px) rgba(0, 0, 0, .5);
}

#piano .key.black.down,
#piano .key.white.down {
  background-color: salmon;
  color: black;
}

#piano .key.disabled,
#piano .key.disabled:hover {
  background-color: rgb(94, 94, 94);
}

@media (max-width: 380px) {
  #piano {
    height: 75px;
    box-shadow: /* X Y Blur Color */
      /* General Piano Drop Shadow */
      0 3.6px 3.6px rgba(0, 0, 0, .8);
  }
  #piano .keyHolder {
    width: 25px;
  }
  #piano .key {
    font-size: 11.425px;
    box-shadow: /* X Y Blur Color */
      /* General Piano Drop Shadow */
      0 1.88px 1.88px rgba(0, 0, 0, .8);
  }
  #piano .key .keyLabel .scaleRoot {
    padding-bottom: 1px;
  }
  #piano .key.white {
    box-shadow: /* X Y Blur Color */
      /* Harsh Bottom Shadow */
      inset 0 -.375px .75px rgba(0, 0, 0, 0.95),
      /* General Shadow */
      inset 0 -.13125px 1.125px rgba(0, 0, 0, 0.95),
      /* Border Shadow */
      inset 0 0 .375px rgba(0, 0, 0),
      /* Outer Shadow */
      0 0 3.75px rgba(0, 0, 0, .5);
  }
  #piano .key.white:hover,
  #piano .key.white.down {
    box-shadow: /* X Y Blur Color */
      /* General Shadow */
      inset 0 -.375px 1.88px rgba(0, 0, 0, 0.95),
      /* General Shadow */
      inset 0 -.9375px 7.5px rgba(0, 0, 0, 0.95),
      /* Border Shadow */
      inset 0 0 3.75px rgba(0, 0, 0),
      /* Outer Shadow */
      0 0 3.75px rgba(0, 0, 0, .5);                 
  }
  #piano .key.black {
    box-shadow: /* X Y Blur Color */
      /* White Key Reflection */
      inset 0 -1.88px 3px rgba(255, 255, 240, 0.5),
      /* White Key Reflection */
      inset 0 -.75px 1.5px rgba(255, 255, 240, 0.2),
      /* Border Shadow */
      inset 0 0 0.75px rgba(0, 0, 0),
      /* Outer Key Drop Shadow (Harsher) */
      0 2.25px 1.125px rgba(0, 0, 0, .9),
      /* Outer Key Drop Shadow (Softer) */
      0 3px 1.5px rgba(0, 0, 0, .8),
      /* Outer Shadow (Match White) */
      0 0 3.75px rgba(0, 0, 0, .5);
  }
  #piano .key.black:hover,
  #piano .key.black.down {
    box-shadow: /* X Y Blur Color */
      /* White Key Reflection */
      inset 0 -1.3125px 3.75px rgba(255, 255, 240, 0.35),
      /* White Key Reflection */ 
      inset 0 -2.8125px 5.625px rgba(17, 17, 17, 0.4),
      /* Border Shadow */
      inset 0 0 0.75px rgba(0, 0, 0),
      /* Outer Shadow (Pressed Down)*/
      0 1.5px .75px rgba(0, 0, 0, .9),
      /* Outer Shadow (Pressed Down)*/
      0 2.25px 1.125px rgba(0, 0, 0, .7),
      /* Outer Shadow (Match White) */
      0 0 3.75px rgba(0, 0, 0, .5);
  }
}

@media (max-width: 380px) { /* 2.8x smaller than max */
  #navMenuButton {
    height: 54px;
    width: 54px;
    font-size: 48px;
  }
  #navMenuButton:hover,
  #navMenuButton:focus,
  #navMenuButton.open:hover,
  #navMenuButton.open:focus {
    outline-offset: -10px;
  }
  #navMenuButton:active,
  #navMenuButton.open {
    box-shadow:
      /* X Y Blur Color */
      inset 0 0 1.5vmin rgba(0, 0, 0, 0.75),
      inset 0 0 3vmin rgb(0, 0, 0, .9);
  }
  #navMenuItems {
    top: 54px;
    font-size: 12px;
    width: 380px;
    box-shadow: /* X Y Blur Color */
      -0.32px 3.2px 3.2px rgba(0, 0, 0, 0.8);
  }
  #navMenuItems a {
    padding: 18px 18px;
    text-decoration: none;
    box-shadow: /* X Y Blur Color */
      inset 0 0 4.5px rgba(255, 255, 240, 0.5),
      inset 0 0 .63px rgb(0, 0, 0);
  }
  #navMenuItems a:hover {
    box-shadow:
      /* X Y Blur Color */
      inset 0 0 9px rgba(255, 255, 240, 0.8),
      inset 0 0 .63px rgb(0, 0, 0);
  }
}



/*//////////////*/
/* Modal Module */
/*//////////////*/
/* Adapted by Jeremy Penning to use responsive design from code at:
// http://www.jacklmoore.com/notes/jquery-modal-tutorial/ */

#overlay {
  position:fixed; 
  top:0;
  left:0;
  width:100%;
  height:100%;
  background:#000;
  opacity:0.7;
  filter:alpha(opacity=70);
  z-index: 996;
}

#modal {
  position:absolute;
  max-width: 780px !important;
  background:url(../img/tint50.png) 0 0 repeat;
  background:rgba(0,0,0,0.5);
  border-radius: min(4.8vmin, 54px);
  padding: min(1.2vmin, 13.5px);
  z-index: 997
}

#modalContent {
  font-size: min(4.8vmin, 54px);
  border-radius: min(4.8vmin, 54px);
  background: ivory;
  padding: min(4.8vmin, 54px);
  height: 100%;
  z-index: 998;
}

#modal #modalHeader {
  font-family: LeagueSpartanBold, sans-serif;
  font-size: min(4vw, 45px);
  margin-bottom: min(1.2vmin, 13.5px);
}
#modal #modalText {
  font-family: LeagueSpartanLight, sans-serif;
  font-size: min(3.2vw, 36px);
}

#modal button.modalButton {
  margin-top: min(6vmin, 67.5px);
  margin-right: 1ch;
  padding: min(1.2vmin, 13.5px);
  background-color: rgba(0, 0, 0, .75);
  border: 1px solid rgba(0, 0, 0, .95);
  border-radius: min(1vmin, 11.25px);
  font-size: min(3.2vw, 36px);
  color: ivory;
  transition: background-color .2s ease-in;
}

#modal button.modalButton.red {
  background-color: rgb(196, 50, 28);
  color: white; /* AA 5.50 */
}
#modal button.modalButton.yellow {
  background-color: rgb(223, 183, 23);
  color: black; /* AAA 10.92 */
}
#modal button.modalButton.green {
  background-color: rgb(33, 150, 83);
  color: black; /* AA 5.55 */
}
#modal button.modalButton.blue {
  background-color: rgb(32, 138, 232);
  color: black; /* AA 5.86 */
}
#modal button.modalButton.grey {
  background-color: rgba(0, 0, 0, .15);
  color: black; /* AAA 14.75 */
}
#modal button.modalButton.right { 
  float: right;
} 
#modal button.modalButton.right:last-child { 
  margin-right: 0;
} 
#modal button.modalButton:hover,
#modal button.modalButton:focus {
  outline: none;
  box-shadow: /* X Y Blur Color */
    inset 0px 0px min(1vmin, 11.25px) rgba(0, 0, 0, .75);
  border: 1px solid rgba(0, 0, 0, .8);
}

#modalClose {
  background-color: rgb(255, 255, 240);
  border-radius: min(7vmin, 78.75px); /* ((width|height) / 2) */
  border: min(1.25vmin, 14.0625px) solid ivory; /* ((width|height - font-size) / 2) */
  color: black;
  position: absolute;
  font-size: min(11.5vmin, 129.375px); /* ((width|height - (border / 2)) */
  width: min(14vmin, 157.5px);
  height: min(14vmin, 157.5px);
  display: block;
  top: max(-3.5vmin, -39.375px); /* -(width|height / 4) */
  right: max(-3.5vmin, -39.375px); /* -(width|height / 4) */
  z-index: 999;
}

@media (max-width: 380px) { /* 3x Smaller than max */
  #modal {
    min-width: 260px !important;
    border-radius: 18px;
    padding: 4.5px;
  }
  #modalContent {
    font-size: 18px;
    border-radius: 18px;
    padding: 18px;
  }
  #modal #modalHeader {
    font-size: 15px;
    margin-bottom: 4.5px;
  }
  #modal #modalText {
    font-size: 12px;
  }
  #modal button.modalButton {
    margin-top: 22.5px;
    margin-right: 1ch;
    padding: 4.5px;
    border-radius: 3.75px;
    font-size: 12px;
  }
  #modal button.modalButton:hover,
  #modal button.modalButton:focus {
    box-shadow: /* X Y Blur Color */
      inset 0px 0px 3.75px rgba(0, 0, 0, .75);
  }
  #modalClose {
    border-radius: 26.25px; /* ((width|height) / 2) */
    border: 4.6875px solid ivory; /* ((width|height - font-size) / 2) */
    font-size: 43.125px; /* ((width|height - (border / 2)) */
    width: 52.5px;
    height: 52.5px;
    top: -13.125px; /* -(width|height / 4) */
    right: -13.125px; /* -(width|height / 4) */
  }
}






/*///////////////
/ Content Boxes /
///////////////*/
section.contentBox {
  font-family: LeagueSpartanLight, sans-serif;
  margin: 0 auto;
  padding: min(1vw, 10px) min(2vw, 10px);
  max-width: 980px;
  z-index: 0;
}

section.contentBox:last-of-type {
  margin-bottom: min(4vw, 30px);
}

section.contentBox .boxHead {
  font-family: LeagueSpartanMedium, sans-serif;
  background-color: rgba(0, 0, 0, .3);
  border-bottom: 1px solid rgba(0, 0, 0, .1);
}

section.contentBox .boxTitle {
  color: rgba(255, 255, 240, .75);
  text-transform: uppercase;
  font-size: min(2.25vw, 16.875px);
  line-height: min(4.266667vw, 32px);
  padding: min(1vw, 7.5px) min(1vw, 7.5px) min(.2vw, 1.5px);
  float: left;
}

section.contentBox .boxHead button {
  font-family: LeagueSpartanMedium, sans-serif;
  line-height: min(4.5vw, 33.75px);
  color: rgba(255, 255, 240, .75);
  text-transform: uppercase;
  font-size: min(2.25vw, 16.875px);
  border-left: 1px solid rgba(0, 0, 0, .3);
  background-color: rgba(0, 0, 0, .3);
  padding: min(.8vw, 6px) min(1vw, 7.5px) min(.2vw, 1.5px);
}

section.contentBox .pageHelp {
  display: none;
  font-size: min(3.2vw, 24px);
  background-color: rgb(0, 0, 0, 0.1);
  border-right: 1px solid rgba(0, 0, 0, 0.3);
  border-left: 1px solid rgba(0, 0, 0, 0.3);
  padding-bottom: min(1vw, 7.5px);
}

section.contentBox .pageHelp .closeHelp {
  color: rgba(255, 255, 240, .5);
  margin: min(.5vw, 3.75px) min(1vw, 7.5px);
  font-size: min(3.2vw, 24px);
  background: none;
  float: right;
}

section.contentBox .pageHelp p {
  padding-top: min(1vw, 7.5px);
  padding-right: min(1vw, 7.5px);
  padding-bottom: 0;
  padding-left: min(1vw, 7.5px);
}

section.contentBox .boxContent {
  font-size: min(3.2vw, 24px);
  background-color: rgb(0, 0, 0, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.3);
  padding: min(1vw, 7.5px) min(1vw, 7.5px) 0 min(1vw, 7.5px);
}

section.contentBox .boxContent a,
section.contentBox .boxContent a:visited {
  color: black;
}

section.contentBox .boxContent a:active,
section.contentBox .boxContent a:hover {
  color: ivory;
}

section.contentBox .boxContent.scrollBox {
  max-height: 500px;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: rgba(0, 0, 0, 0.3) rgba(255, 255, 240, 0.3);
}

/* Works on Chrome/Edge/Safari */
section.contentBox .boxContent.scrollBox::-webkit-scrollbar {
  width: 8px;
}

section.contentBox .boxContent.scrollBox::-webkit-scrollbar-track {
  background: rgba(255, 255, 240, .3);
}

section.contentBox .boxContent.scrollBox::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, .3);
  border-radius: 2px;
  border: 1px solid rgba(0, 0, 0, .3);
}

section.contentBox .boxContent .noteHolder {
  background-color: rgba(0, 0, 0, .05);
  border: 1px solid rgba(0, 0, 0, .3);
  margin-bottom: min(1vw, 7.5px);
  /* Match padding on section.contentBox .boxContent */
}

section.contentBox .boxContent .noteTitle {
  font-family: LeagueSpartanMedium, sans-serif;
  font-size: min(3.2vw, 24px);
  display: inline-block;
  background-color: rgba(0, 0, 0, 0.3);
  padding: min(1vw, 7.5px) min(1.2vw, 9px);
  color: ivory;
  /* AAA 7.99 */
  border-right: 3.2px solid rgba(0, 0, 0, 0.25);
  border-bottom: 3.2px solid rgba(0, 0, 0, 0.25);
}

section.contentBox .boxContent .noteInfo {
  padding: min(1vw, 7.5px) min(1.2vw, 9px);
  font-size: min(3.2vw, 24px);
}

section.contentBox .boxContent .noteInfo strong {
  font-weight: bold;
}

section.contentBox .boxContent .emptySet,
section.contentBox .boxContent .notesComplete {
  font-size: min(4.8vw, 36px);
  margin: min(4.8vw, 36px);
}

section.contentBox .boxContent .emptySet i,
section.contentBox .boxContent .notesComplete i {
  font-size: min(9.6vw, 72px);
  margin-right: min(4.8vw, 36px);
}

section.contentBox .boxContent button {
  margin-top: min(1vw, 7.5px);
  margin-right: 1ch;
  padding: min(1.2vw, 9px);
  background-color: rgb(0, 0, 0, .15);
  border: 1px solid rgba(0, 0, 0, .15);
  border-radius: min(1vw, 7.5px);
  font-size: min(3.2vw, 24px);
  color: ivory;
}

section.contentBox .boxContent .right button:last-child {
  margin-right: 0;
}

section.contentBox .boxContent button:hover,
section.contentBox .boxContent button:focus {
  outline: none;
  box-shadow:
    /* X Y Blur Color */
    0px 0px min(1vw, 7.5px) rgba(0, 0, 0, .75) inset;
  border: 1px solid rgba(0, 0, 0, .8);
}

section.contentBox .boxContent .bottomButtons {
  margin-top: 0;
  padding: min(1vw, 7.5px);
  font-size: 0;
  /* Remove whitespace between elements */
  clear: both;
}

section.contentBox .boxContent .bottomButtons button {
  background-color: rgb(0, 0, 0, .30);
  border: 1px solid rgba(0, 0, 0, .3);
  margin-top: 0;
}

@media (max-width: 380px) { /* 2x Smaller than max */
  section.contentBox {
    padding: 5px 0;
    width: 350px;
  }
  section.contentBox:last-of-type {
    margin-bottom: 15px;
  }
  section.contentBox .boxTitle {
    font-size: 8.4375px;
    line-height: 16px;
    padding: 3.75px 3.75px .75px;
  }
  section.contentBox .boxHead button {
    line-height: 16.875px;
    font-size: 8.4375px;
    padding: 3px 3.75px .75px;
  }
  section.contentBox .pageHelp {
    font-size: 12px;
    padding-bottom: 3.75px;
  }
  section.contentBox .pageHelp .closeHelp {
    margin: 1.875px 3.75px;
    font-size: 12px;
  }
  section.contentBox .pageHelp p {
    padding-top: 3.75px;
    padding-right: 3.75px;
    padding-bottom: 0;
    padding-left: 3.75px;
  }
  section.contentBox .boxContent {
    font-size: 12px;
    padding: 3.75px 3.75px 0 3.75px;
  }
  section.contentBox .boxContent.scrollBox {
    max-height: 500px;
  }
  /* Works on Chrome/Edge/Safari */
  section.contentBox .boxContent.scrollBox::-webkit-scrollbar {
    width: 8px;
  }
  section.contentBox .boxContent.scrollBox::-webkit-scrollbar-thumb {
    border-radius: 2px;
  }
  section.contentBox .boxContent .noteHolder {
    margin-bottom: 3.75px;
    /* Match padding on section.contentBox .boxContent */
  }
  section.contentBox .boxContent .noteTitle {
    font-size: 12px;
    padding: 3.75px 4.5px;
  }
  section.contentBox .boxContent .noteInfo {
    padding: 3.75px 4.5px;
    font-size: 12px;
  }
  section.contentBox .boxContent .emptySet,
  section.contentBox .boxContent .notesComplete {
    font-size: 18px;
    margin: 18px;
  }
  section.contentBox .boxContent .emptySet i,
  section.contentBox .boxContent .notesComplete i {
    font-size: 36px;
    margin-right: 18px;
  }
  section.contentBox .boxContent button {
    margin-top: 3.75px;
    margin-right: 1ch;
    padding: 4.5px;
    border-radius: 3.75px;
    font-size: 12px;
  }
  section.contentBox .boxContent button:hover,
  section.contentBox .boxContent button:focus {
    box-shadow:
      /* X Y Blur Color */
      0px 0px 3.75px rgba(0, 0, 0, .75) inset;
  }
  section.contentBox .boxContent .bottomButtons {
    padding: 3.75px;
  }
}




/*///////////////
/ Forms - Input /
///////////////*/
form {
  font-size: 0;
  /* Removes whitespace between elements */
}

form .formInput {
  display: inline-block;
  margin: min(.3vw, 2.25px) 0;
}

input {
  display: block;
  float: left;
  appearance: none;
  /* Reset browser styles */
  width: 25ch;
  padding: min(.8vw, 6px) min(.8vw, 6px) 0;
  font-size: min(3.2vw, 24px);
  margin: 0;
  font-family: LeagueSpartanLight, sans-serif;
  background-color: rgba(255, 255, 240, .25);
  border: 2.4px solid rgba(0, 0, 0, .4);
}

@media all and (-webkit-min-device-pixel-ratio: 0) and (min-resolution: 0.001dpcm) {
  .selector:not(*:root),
  input {
    font-size: min(4.1vw, 24px);
    color: rgba(0, 0, 0, .4) !important;
  }
}

label {
  display: block;
  float: left;
  margin: 0;
  height: 100%;
  width: min(30.4vw, 228px);
  padding: min(1.125vw, 8.4375px) min(1.6vw, 12px) min(1.125vw, 8.4375px);
  font-family: LeagueSpartanMedium, sans-serif;
  /* text-transform: uppercase; */
  font-size: min(2.4vw, 18.23334px);
  background-color: rgba(0, 0, 0, .25);
  border-right: 4.4px solid rgba(0, 0, 0, .4);
  border-bottom: 4.4px solid rgba(0, 0, 0, .4);
  color: rgba(255, 255, 240, .75);
}

/* Styling for on page forms in contentBox */
section.contentBox .boxContent .formHolder {
  /* Avoid styling the .formHolder div as it just needs to disappear by default */
  display: block;
}

section.contentBox .boxContent .formHolder .errorMessages {
  display: none;
  padding: min(1vw, 7.5px);
  background-color: rgba(0, 0, 0, .5);
  color: ivory;
  border-bottom: 1px solid rgba(0, 0, 0, .3);
}

section.contentBox .boxContent .formHolder form label {
  width: min(30.4vw, 228px);
  background-color: rgba(255, 255, 240, .1);
  border-right: 2.2px solid rgba(0, 0, 0, .4);
  border-bottom: 4.4px solid rgba(0, 0, 0, .4);
  color: rgba(255, 255, 240, .85);
  white-space: nowrap;
}

section.contentBox .boxContent .formHolder form input {
  width: min(58.5vw, 450px);
  background-color: rgba(255, 255, 240, .4);
  border: 2.4px solid rgba(0, 0, 0, .4);
}

@media all and (-webkit-min-device-pixel-ratio: 0) and (min-resolution: 0.001dpcm) {
  .selector:not(*:root),
  section.contentBox .boxContent .formHolder form input {
    font-size: min(4.1vw, 28px);
    color: rgba(0, 0, 0, .4) !important;
  }
}

section.contentBox .boxContent .formHolder button {
  background-color: rgb(0, 0, 0, .15);
  border: 1px solid rgba(0, 0, 0, .15);
}

section.contentBox .boxContent .formHolder .right button:last-child {
  margin-right: 0;
}

section.contentBox .boxContent .formHolder button:hover,
section.contentBox .boxContent .formHolder button:focus {
  outline: none;
  box-shadow:
    /* X Y Blur Color */
    0px 0px min(1vw, 7.5px) rgba(0, 0, 0, .75) inset;
  border: 1px solid rgba(0, 0, 0, .4);
}

/* The updateForm is hidden by default */
section.contentBox .boxContent .formHolder .updateForm {
  display: none;
  background-color: rgba(0, 0, 0, .2);
  border-top: 1px solid rgba(0, 0, 0, .3);
  border-bottom: 1px solid rgba(0, 0, 0, .3);
  padding: min(1vw, 7.5px);
}

section.contentBox .boxContent .formHolder .addForm {
  background-color: rgba(0, 0, 0, .2);
  padding: min(1vw, 7.5px);
}

@media (max-width: 380px) { /* 3x Smaller than max */
  form .formInput {
    margin: 1.125px 0;
  }
  input {
    /* Reset browser styles */
    width: 217px;
    padding: 3px 3px 0;
    font-size: 12px;
    border: 1.2px solid rgba(0, 0, 0, .4);
  }
  @media all and (-webkit-min-device-pixel-ratio: 0) and (min-resolution: 0.001dpcm) {
    .selector:not(*:root),
    input {
      font-size: 12px;
    }
  }
  label {
    width: 114px;
    padding: 4.21875px 6px 4.21875px;
    font-size: 9.11667px;
    border-right: 2.2px solid rgba(0, 0, 0, .4);
    border-bottom: 2.2px solid rgba(0, 0, 0, .4);
  }
  /* Styling for on page forms in contentBox */
  section.contentBox .boxContent .formHolder .errorMessages {
    padding: 3.75px;
  }
  section.contentBox .boxContent .formHolder form label {
    width: 114px;
    border-right: 1.1px solid rgba(0, 0, 0, .4);
    border-bottom: 2.2px solid rgba(0, 0, 0, .4);
  }
  @media all and (-webkit-min-device-pixel-ratio: 0) and (min-resolution: 0.001dpcm) {
    .selector:not(*:root),
    section.contentBox .boxContent .formHolder form input {
      font-size: 12px;
    }
  }
  section.contentBox .boxContent .formHolder button:hover,
  section.contentBox .boxContent .formHolder button:focus {
    box-shadow:
      /* X Y Blur Color */
      0px 0px 3.75px rgba(0, 0, 0, .75) inset;
  }
  section.contentBox .boxContent .formHolder .updateForm {
    padding: 3.75px;
  }
  section.contentBox .boxContent .formHolder .addForm {
    padding: 3.75px;
  }
}